<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="card">
      <form action="/result" method="post">
        <input class="btn" type="submit" value="Cats & Dogs" />
      </form>
      <!-- <h1>{{transcript}}</h1> -->
      <ul>
        <!-- {% for i in transcript %} {% for k,v in i.items() %}
        <li>{{k}} : {{v}}%</li>
        {% endfor %} {% endfor %} -->
        <li>Cats: {{cats}}</li>
        <li>Dogs: {{dogs}}</li>
      </ul>
    </div>
  </body>
</html>
